# Image Processing Module 5: The power of Thresholds

### Purpose: To introduce trainees to the idea of a threshold and its application to immunoflourescent images of brain cells

__Priming Activity:__

You need to change a lightbulb in your office, but you don't have anything to stand on so the person to change the lightbulb must be able to reach it standing.  Luckily you have a list of your lab mates standing reach!

The lightbulb is located 8ft above the ground. 

Your labmates and their standing reach are included in the table below.

In [15]:
import pandas as pd
data = [['John Krasinki', '6ft 3in', '8ft 3in'],['Steve Carell', '5ft 9in', '7ft 9in'], ['Mindy Kaling', '5ft 4in', '7ft 1in'],['Craig Robinson', '6ft 2in', '8ft 3in'],['Rashida Jones', '5ft 4in', '7ft 4in']]

In [16]:
labmate_heights = pd.DataFrame(data, index=None, columns={'Lab Member Name', 'Labe Member Standing Height', 'Lab Member Standing Reach'})
labmate_heights

  Lab Member Name Lab Member Standing Reach Labe Member Standing Height
0   John Krasinki                   6ft 3in                     8ft 3in
1    Steve Carell                   5ft 9in                     7ft 9in
2    Mindy Kaling                   5ft 4in                     7ft 1in
3  Craig Robinson                   6ft 2in                     8ft 3in
4   Rashida Jones                   5ft 4in                     7ft 4in

Since you aren't sure which office mates are around, you need multiple options of people to look for.  What is the cut-off height of your lab mates to separate those who could or could not change the lightbulb from a standing position?

The height you picked above is your __threshold!__  Its the cut off by which you say anyone below this cannot change the lightbulb from a standing position and every one above it should be able to.

__Activity:__

__Recall:__